 <div id="home">
    <div class = "container">
        <h1>HOME PAGE</h1>  
        <p>Route to sign in /signup</p>
        <p>Route to Json API for all Users  /api/users</p>


      <p>This is not hooked to User db..which is the one it should be but it creates a validation error</p>
      <p>also the icons on the signup page don't render...think its a Handlebars issue??</p>


    </div>
  </div>


 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/signup.js"></script>