         <div class="form-row">
            <div class="form-group col-md-12">
            {{!-- <label for="categories">What problems are you experiencing (category)?</label>
                <script id="some-template" type="text/x-handlebars-template"> 
                <select dropdown multiple class="dropdown" name="color">
                    {{#each user}}
                        <option value="{{id}}" {{first_name}}</option>
                    {{/each}}
                </select>
                </script> --}}
            </div>
        </div>

        <div id="home">
            {{#each user}}
                <p>{{first_name}} --- {{last_name}}</p>
            {{/each}}
        </div>